body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #003566;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #001D3D;
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header, footer {
    background-color: #000814;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 0;
    padding: 0.5em 0;
    color: #FFC300;
}

section {
    margin: 1em 0;
    padding: 0 1em;
}

